form {
    padding: 10px 0px 25px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-forms {
    gap: 20px;
    display: flex;
    margin: 0px auto;
    max-width: 700px;
}

.lado-esquerdo,
.lado-direito {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(155, 155, 155);
    border-radius: 10px;
}

.lado-direito {
    background-color: rgb(219, 219, 219);
}

.lado-esquerdo {
    background-color: rgb(241, 241, 241);
}