@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: "Arimo", sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

header a {
    margin: 10px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

/* TODO: Equipo Front HTML - anadir estilos aqui */
